    <nav class="navbar navbar-expand bg-primary">
        <a href="" class="navbar-brand px-4 text-light" >Trabajo autonomo</a>
        <div class="navbar-collapse">

        </div>

        <div class="profile-logo dropstart">
            <button class="btn btn-outline dropdown-toggle text-light" data-bs-toggle="dropdown">
                {{name}}
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="cerrarsesion()" class="dropdown-item" >Cerrar sesion</a></li>
            </ul>
        </div>
        
    </nav>